{% if shoppingList is null or not shoppingList.hasRecipe(recipe) %}
    {% set url = path("view_shopping_list_add_recipe", {"id" : recipe.id}) %}
{% elseif shoppingList.hasRecipe(recipe) %}
    {% set url = path("view_shopping_list_remove_recipe", {"id" : recipe.id}) %}
{% endif %}
<li
    id="recipe_{{ recipe.id }}"
    class="list-group-item d-flex list-group-item-action">
    <div
        role="button"
        class="flex-fill"
        data-action="btn-ajax"
        data-url="{{ url }}"
        data-method="post">
        {% if shoppingList is null or not shoppingList.hasRecipe(recipe) %}
            <i data-loader="replace" class="far fa-square me-1"></i>
        {% elseif shoppingList.hasRecipe(recipe) %}
            <i data-loader="replace" class="far fa-check-square me-1"></i>
        {% endif %}
        {{ recipe.name|capitalize }}
    </div>
    <span
        role="button"
        style="line-height: inherit;"
        data-action="link"
        data-url="{{ path("view_recipe", {"id" : recipe.id}) }}"
        class="badge float-end bg-primary rounded-pill me-1">
        details
    </span>
    <span
        role="button"
        style="line-height: inherit;"
        data-action="link"
        data-url="{{ path("view_update_recipe", {"id" : recipe.id}) }}"
        class="badge float-end bg-secondary rounded-pill me-1">
        modifier
    </span>
</li>
