<li
    id="shopping_list_row_{{ row.id }}"
    role="button"
    data-action="btn-ajax"
    data-method="post"
    {% if row.checked %}
        data-url="{{ path("view_shopping_list_row_uncheck", {"id" : row.id}) }}"
    {% else %}
        data-url="{{ path("view_shopping_list_row_tick", {"id" : row.id}) }}"
    {% endif %}
    class="list-group-item d-flex justify-content-end align-items-center">
    <i data-loader="replace" class="far {{ (row.checked ? "fa-check-square" : "fa-square") }} "></i>
    <span class="ms-1 {{ (row.checked) ? "text-decoration-line-through" : "" }}">
        {{ row.ingredient.name|capitalize }}
    </span>
    <span style="flex: 1"></span>
    {% if row.quantity is not null %}
        <span class="badge float-end bg-primary rounded-pill me-1">
            {{ row.quantity|round(0, 'ceil') }}
            {{ row.unit.symbol }}
        </span>
    {% endif %}
</li>
