{% set active = "shoppingList" %}
{% extends '@Shared/base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}
    {% if shoppingList is not null %}
        <div class="card bg-light" style="max-width: 100rem;">
            <h3 class="card-header">
                {{ "Liste du " ~ shoppingList.createdAt|format_datetime(locale='fr_FR', pattern="dd MMMM YYYY") }} :
                <span class="small text-secondary ms-2">
                    {% for recipeType in shoppingList.recipeTypePresent %}
                        <span class="me-3">
                            {{ shoppingList.numberOfTypeRecipes(recipeType) }}
                            <img style="height: 1.5em" src="{{ absolute_url(asset(recipeType.image)) }}" alt="{{ recipeType.name }}">
                        </span>
                    {% endfor %}
                </span>
                {% include('@Repas/ShoppingList/_shopping_list_actions.html.twig') %}
            </h3>
            <div class="card-body">
                <div class="row">
                    {% include "@Repas/ShoppingList/_ingredients_column.html.twig" %}
                    <div class="col">
                        <h2>Recettes</h2>
                        {% for recipeType in shoppingList.recipeTypePresent %}
                            {% set recipes = shoppingList.getRecipesByType(recipeType) %}
                            {% set meals = shoppingList.getMealByType(recipeType) %}
                            {% if meals is not empty %}
                                <ul class="list-group mb-1">
                                    <li class="d-flex list-group-item justify-content-start align-items-center active">
                                        <img src="{{ absolute_url(asset(recipeType.image)) }}" alt="{{ recipeType.name }}" style="height: 1.5em">
                                        <span class="ms-1">{{ recipeType.name|capitalize }}</span>
                                    </li>
                                    {% for meal in meals %}
                                        <li class="list-group-item d-flex justify-content-start align-items-center">
                                            <span class="ms-1">
                                                {{ meal.recipe.name|capitalize }}
                                            </span>
                                            <div class="ms-auto d-flex align-items-center">
                                                <span>
                                                    {{ meal.serving }}
                                                </span>
                                                <img class="ms-1" src="https://cdn-icons-png.flaticon.com/128/5187/5187868.png" alt="serving" style="height: 1.5em">
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
