{% set active = "shoppingList" %}
{% extends '@Shared/base.html.twig' %}

{% block title %}
    {{ shoppingList.createdAt|format_datetime(locale='fr_FR', pattern="dd MMMM YYYY") }}
{% endblock %}

{% block javascript_custom %}
    <script src="{{ javascripts_dir ~ "repas_shopping_list.js" }}"></script>
{% endblock %}

{% block body %}
    {% if shoppingList is not null %}
        <div id="shopping-list-card" class="card bg-light" style="max-width: 100rem;">
            <h3 class="card-header">
                {{ "Liste du " ~ shoppingList.createdAt|format_datetime(locale='fr_FR', pattern="dd MMMM YYYY") }} :
                <span class="small text-secondary ms-2">
                    {% for recipeType in shoppingList.recipeTypePresent %}
                        <span class="me-3">
                            {{ shoppingList.numberOfTypeRecipes(recipeType) }}
                            <img style="height: 1.5em" src="{{ absolute_url(asset(recipeType.image)) }}" alt="{{ recipeType.name }}">
                        </span>
                    {% endfor %}
                </span>
            </h3>
            <div class="card-body">

                <!-- Boutons pour basculer entre les vues en mode mobile -->
                <div id="shopping-list-button-switch-ingredient-recipe" class="text-center mb-3">
                    <button class="btn btn-primary me-2" id="button-show-ingredients">{{ shoppingList.countRows }} Ingrédients</button>
                    <button class="btn btn-secondary" id="button-show-recipes">{{ shoppingList.countRecipes }} Recettes</button>
                </div>

                <div class="row">
                    <!-- Conteneur avec affichage conditionnel -->
                    {% include "@Repas/ShoppingList/_ingredients_column.html.twig" %}

                    <div id="shopping-list-recipes-column" class="col">
                        <h2> {{ shoppingList.countRecipes }} Recettes</h2>
                        {% for recipeType in shoppingList.recipeTypePresent %}
                            {% set recipes = shoppingList.getRecipesByType(recipeType) %}
                            {% set meals = shoppingList.getMealByType(recipeType) %}
                            {% if meals is not empty %}
                                <ul class="list-group mb-1">
                                    <li class="d-flex list-group-item justify-content-start align-items-center active">
                                        <img src="{{ absolute_url(asset(recipeType.image)) }}" alt="{{ recipeType.name }}" style="height: 1.5em">
                                        <span class="ms-1">{{ recipeType.name|capitalize }}</span>
                                    </li>
                                    {% for meal in meals %}
                                        <li class="list-group-item d-flex justify-content-start align-items-center">
                                            <span class="ms-1">
                                                {{ meal.recipe.name|capitalize }}
                                            </span>
                                            <div class="ms-auto d-flex align-items-center">
                                                <div class="input-group input-group-sm">
                                                    <input
                                                        id="{{ meal.id }}"
                                                        type="number"
                                                        style="max-width: 3em"
                                                        class="form-control"
                                                        value="{{ meal.serving }}"
                                                        data-action="input-ajax"
                                                        data-method="put"
                                                        data-url-value="__serving__"
                                                        data-hide="mobile"
                                                        data-url="{{ path("view_update_serving_meal", {"id": meal.id, "serving":"__serving__"}) }}"
                                                    ></input>
                                                    <label class="input-group-text" for="{{ meal.id }}">
                                                        <img class="ms-1" src="https://cdn-icons-png.flaticon.com/128/5187/5187868.png" alt="serving" style="height: 1.5em">
                                                    </label>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
