{% set active = "shoppingList" %}
{% extends '@Shared/base.html.twig' %}

{% block title %}
    Mes Listes
{% endblock %}

{% block body %}
    <ul class="list-group">
        <form action="{{ path('view_shopping_list_create') }}" method="post" style="width: 100%;" class="list-group-item d-flex justify-content-between align-items-center active">
            <button type="submit" class="text-white text-start" style="border: none; background: none; text-decoration: none; cursor: pointer; width: 100%;">
                Nouvelle liste
            </button>
        </form>
        {% for shoppingList in shoppingLists %}
            <li
                id="shopping-list-{{ shoppingList.id }}"
                class="list-group-item d-flex align-items-center shopping-list-item"
                data-id="{{ shoppingList.id }}"
                style="position: relative;">
                <a
                    href="{{ path("view_one_shopping_list", {"id": shoppingList.id}) }}"
                    class="d-flex align-items-center flex-grow-1 text-decoration-none text-dark">
                    <span style="width: 10em">{{ shoppingList.createdAt|format_datetime(locale="fr_FR", pattern="dd MMMM YYYY") }}</span>
                    {% for recipeType in shoppingList.recipeTypePresent %}
                        <span class="me-3">
                            {{ shoppingList.numberOfTypeRecipes(recipeType) }}
                            <img style="height: 1.5em" src="{{ absolute_url(asset(recipeType.image)) }}" alt="{{ recipeType.name }}">
                        </span>
                    {% endfor %}
                    <span class="flex-fill"></span>
                    {% if shoppingList.isPlanning %}
                        <span class="badge float-end bg-primary rounded-pill me-1">En préparation</span>
                    {% endif %}
                    {% if shoppingList.isShopping %}
                        <span class="badge float-end bg-success rounded-pill me-1">Courses en cours</span>
                    {% endif %}
                    {% if shoppingList.isCompleted %}
                        <span class="badge float-end bg-secondary rounded-pill me-1">Terminée</span>
                    {% endif %}
                </a>

                <!-- Bouton supprimer (visible uniquement sur desktop) -->
                <button
                    class="btn btn-danger btn-sm rounded-circle delete-button d-none d-md-inline"
                    data-confirm="Voulez-vous vraiment supprimer cette liste ?"
                    data-action="btn-ajax"
                    data-method="delete"
                    data-url="{{ path('view_shopping_list_remove', {'id': shoppingList.id}) }}">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
