<tr id="conversion-{{ conversion.id }}">
    <td>{{ conversion.ingredient.name|default("")|capitalize }}</td>
    <td>{{ conversion.startUnit.name|capitalize }}</td>
    <td>{{ conversion.endUnit.name|capitalize }}</td>
    <td>{{ conversion.coefficient }}</td>
    <td colspan="2">
        <a
            type="button"
            class="btn btn-danger btn-sm float-end me-1"
            href="#">
            <i class="fas fa-trash"></i>
        </a>
        <a
            type="button"
            class="btn btn-secondary btn-sm float-end me-1"
            href="#">
            <i class="fas fa-pen"></i>
        </a>
    </td>
</tr>
