{% extends '@Shared/base.html.twig' %}

{% block title %}
    Nouvel Ingrédient
{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1>{{ (ingredient|default(null) is not null) ? 'Modification de ' ~ ingredient.name : 'Nouvel Ingrédient' }}</h1>
        {# Affichage du formulaire Symfony #}
        {{ form_start(form, {'attr': {'id': 'ingredient-form'}}) }}
        <div class="mb-3">
            {{ form_label(form.name) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.name) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.department) }}
            {{ form_widget(form.department, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.department) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.defaultCookingUnit) }}
            {{ form_widget(form.defaultCookingUnit, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.defaultCookingUnit) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.defaultPurchaseUnit) }}
            {{ form_widget(form.defaultPurchaseUnit, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.defaultPurchaseUnit) }}
        </div>
        {%  set hidden = ingredient is not defined or (ingredient is defined and ingredient.hasSameUnitInCookingAndPurchase) %}
        <div
            class="mb-3"
            id="coefficient-group"
            style="{{ hidden ? 'display: none;' : '' }}"
        >
            <label id="coefficient-label" for="create_ingredient_coefficient">
                {% if not hidden %}
                    {{ "1 " ~ ingredient.defaultPurchaseUnit.name ~ " contient combien de " ~ ingredient.defaultCookingUnit.name ~ " ?" }}
                {% endif %}
            </label>
            {{ form_widget(form.coefficient, {'attr': {'class': 'form-control', 'id': 'coefficient'}}) }}
            {{ form_errors(form.coefficient) }}
        </div>

        <button type="submit" class="btn btn-primary">{{ (ingredient|default(null) is not null) ? 'Modifier' : 'Ajouter' }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascript_custom %}
    <script>
        $(function() {
            console.log("File ingredient_form.html.twig loaded");
            function updateCoefficientField() {
                let cookingUnit = $("select[id$='_defaultCookingUnit']").find("option:selected").text();
                let purchaseUnit = $("select[id$='_defaultPurchaseUnit']").find("option:selected").text();

                console.log(cookingUnit, purchaseUnit);
                if (cookingUnit !== purchaseUnit) {
                    $("#coefficient-label").text(`1 ${purchaseUnit} contient combien de ${cookingUnit} ?`);
                    $("#coefficient-group").show();
                } else {
                    $("input[id$='_coefficient']").val(""); // Reset le champ
                    $("#coefficient-group").hide();
                }
            }

            // Écoute les changements sur les champs d'unité
            $(document).on("change", "select[id$='_defaultCookingUnit'], select[id$='_defaultPurchaseUnit']", function(){
                updateCoefficientField();
            })
        });
    </script>
{% endblock %}
